/* PAGE BACKGROUND IMAGES AND COLOURS*/

.index{
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
	background-size: 100%;
} 
.aboutMe{
	background-image: url("../img/blackchair.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

/*HEADING AND TAGLINE STYLING*/

.headingKaneIndex{
	font-family: arial;
	color: #7d7d7d;
	font-size: 125px;
	padding-top: 150px;
	
	text-decoration:underline;
}
.headingBrookesIndex{
	font-family: arial;
	color: #7d7d7d;
	font-size: 125px;
	padding-top: 0px;
	padding-left: 75px;
	text-decoration: underline;
}
.taglineIndex{
	font-family: arial;
	color: #7d7d7d;
	font-size: 20px;
	padding-top: 75px;
	padding: left 75px;
}
.headingAboutMe{
	font-family: arial;
	color: #7d7d7d;
	font-size: 125px;
	padding-top: 0px;
	padding-left: 0px;
	text-decoration:underline;
}
.catchLineIndex{
	font-family: arial;
	color: #7d7d7d;
	font-size: 40px;
	padding-top: 525px;
	padding-left: 0px;
}

/*TEXT STYLING*/

.aboutMeInformation{

}

/* NAVBAR STYLING - DIFFERENT FOR EACH PAGE*/

.navigation{
	padding-top: 70px;
	text-align: right;
}
.naviagtionBar{
	list-style: none;
}
.navigationItem{
	display: inline;
	
}
.naviagtionLink{
	padding:0 50px;
	color: #7d7d7d;
	font-family: arial;
	font-size: 30px;
}
/* BUTTON STYLING - DIFFERENT FOR EACH BUTTON*/

.btn {
  font-weight: 300;
  text-align: center;
}
.aboutMeBtn {
  background: #7d7d7d;
  border-color: #7d7d7d;
  color: #fff;
  margin-top: 50px;
  margin-left: 220px; 
  padding-left: 100px !important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background: #7d7d7d;
  border-color: #7d7d7d;
}
.btn-group-lg>.btn, .btn-lg{
	padding-top: 100px;
}

@media only screen and (max-width: 600px) {
	.navigation{
		text-align: center;
	}
}
